html {
  font-family: 'Courier New', Courier, monospace;
  background-color: #fff8dc;
}
header {
  font-size: 25px;
  color: #232323;
  border-left: 5px solid #000;
  padding-left: 5px;
  background-color: #fff7c7;
  display: flex;
  position: relative;
  margin-bottom: 10px;
}
body {
  padding: 5px;
  margin-bottom: 60px;
}

.back {
  color: #000;
  border: #dfdfdf 3px solid;
  border-radius: 3px;
  margin-bottom: 5px;
  padding: 5px 10px;
  font-size: 30px;
}
.titleName {
  font-size: 20px;
  display: flex;
  justify-content: center;
  border-bottom: #000 3px solid;
}
.contents {
  font-size: 18px;
  margin-top: 5px;
  margin-bottom: 5px;
  display: flex;
  justify-content: center;
  white-space: pre-wrap;
  text-align: left;
  margin: 5px 0;
  padding: 10px 20px;
  background-color: #ffffff;
}

.block {
  border: #444444 2px solid;
  border-radius: 3px;
  padding: 8px;
  margin: 5px;
}
.read {
  margin-right: 25px;
  color: #232323;
}
.explain {
  font-size: 13px;
  color: #232323;
}

footer {
  margin-top: 20px;
  font-family: 'Courier New', Courier, monospace;
  font-size: 15px;
  background-color: #fff7c7;
  position: fixed;
  bottom: 0;
  width: 100%;
  padding: 3px;
  z-index: 100;
}

.No {
  display: none;
}

img {
  transform: scale(0.3);
  transform-origin: top right;
  right: 10px;
  top: 20px;
  position: absolute;
  border: #444444 3px solid;
  border-radius: 10px;
}

.password input {
  padding: 5px;
  margin-bottom: 5px;
  background-color: #fff7c7;
  border: #232323 solid 2px;
  border-radius: 8px;
}
.enterButton {
  padding: 3px 20px 3px 20px;
  margin-top: 8px;
  background-color: #ffffff;
  border: #232323 solid 2px;
  border-radius: 8px;
}

@media (max-width: 767px) {
  img {
    transform: scale(0.1);
    transform-origin: top right;
  }
}
